body{
    background-color: cyan;
    color: black;
}

.heading{
    width: 80%;
    font-size: 22px;
}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 350px;
}

.result_object{
    color: yellow;
}